# Ignore most datasets
datasets/*
!datasets/samples
!datasets/extraction-tests
!datasets/collection-tests
!datasets/database-tests
!datasets/keystrokes

# Ignore typist ids
datasets/keystrokes/typist_ids.txt

# Ignore database (for now)
db/

# Ignore cache
__pycache__/
.pytest_cache
.ipynb_checkpoints

# Other
papers/
recordings/
brainstorm.txt
.idea
.DS_Store
