# Ignore most datasets
datasets/*
!datasets/samples
!datasets/extraction-tests
!datasets/collection-tests
!datasets/database-tests

# Ignore cache
__pycache__
*/__pycache__
.pytest_cache
.ipynb_checkpoints

# Other
papers/
recordings/
brainstorm.txt
.idea
.DS_Store
